/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  color: #666; }

@font-face {
  font-family: iconfont;
  src: url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/fonts/iconfont.eot);
  src: url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/fonts/iconfont.eot?#iefix) format("embedded-opentype"), url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/fonts/iconfont.woff) format("woff"), url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/fonts/iconfont.ttf) format("truetype"), url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/iconfont.svg#iconfont) format("svg"); }

.iconfont {
  font-family: iconfont;
  font-style: normal;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

em, i {
  font-style: normal; }

.center {
  width: 1190px;
  margin: 0 auto; }

.pull-left {
  float: left;
  margin: 0; }

.pull-right {
  float: right;
  margin: 0; }

.show {
  display: block; }

.hide {
  display: none; }

a {
  text-decoration: none;
  color: #666666; }
  a:hover {
    text-decoration: none; }

.spacer {
  overflow: hidden;
  margin: 11px 5px 0;
  width: 1px;
  height: 10px;
  background-color: #ccc; }

.cw-icon {
  overflow: hidden;
  position: relative;
  z-index: 100;
  float: left;
  border: 1px solid #e3e4e5; }

.dropdown:hover .dropdown-layer {
  display: block; }

.dropdown:hover .cw-icon {
  padding-bottom: 2px;
  border-color: #ccc;
  border-bottom: none;
  background-color: #fff; }

.dropdown-layer {
  position: absolute;
  top: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  z-index: 99; }

.slides__thumb {
  position: absolute;
  left: 50%;
  font-size: 0;
  text-align: center;
  bottom: 16px;
  margin-left: -14px; }
  .slides__thumb i {
    background: #c0c0c0;
    width: 6px;
    height: 6px;
    margin: 4px;
    display: inline-block;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%; }
  .slides__thumb .slides__thumb--active {
    background-color: #e33333; }

.corechn__item__carousel .slider__item__i, .special .slider__item__i {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
  margin-right: 1px;
  background: #fff; }
  .corechn__item__carousel .slider__item__i:after, .special .slider__item__i:after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    border: 2px solid #b9beba; }
  .corechn__item__carousel .slider__item__i.slides__thumb--active, .special .slider__item__i.slides__thumb--active {
    background: #fdd9dd; }
    .corechn__item__carousel .slider__item__i.slides__thumb--active:after, .special .slider__item__i.slides__thumb--active:after {
      border: 2px solid transparent;
      background: #eb3436; }

.corechn__item__carousel .slides__thumb, .special .slides__thumb {
  bottom: -25px; }

.corechn__item__carousel .top__slider .slides__thumb, .special .top__slider .slides__thumb {
  bottom: 16px; }

.special .slider__item__i {
  background-color: #f0f3ef; }

.special .slides__thumb {
  bottom: 10px; }

.daily__slider .slides__thumb, .explore__slider .slides__thumb {
  margin-left: -25px; }

.slider_control {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 40px;
  background-color: #aeb5ad;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  color: rgba(255, 255, 255, 0.4);
  line-height: 40px;
  text-align: center;
  cursor: pointer; }
  .slider_control:hover {
    background-color: #999;
    background-color: rgba(0, 0, 0, 0.4); }
  .slider_control i {
    color: #fff;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px; }

.slider_control_prev {
  left: 0; }

.slider_control_next {
  right: 0; }

.sk .slider_control {
  top: 110px;
  width: 20px; }

.daily__slider .slider_control_next {
  right: -20px; }

.daily__slider .slider_control_prev {
  left: -20px; }

.daily__slider .slider_control {
  width: 20px; }

.explore__slider .slider_control {
  width: 20px; }

.special .slider_control {
  width: 20px; }

.toolbar {
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  z-index: 9990;
  width: 0;
  height: 100%; }

.toolbar__h {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  border-right: 6px solid #7a6e6e; }
  .toolbar__h .tab-ico {
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 2;
    background-color: #7a6e6e;
    display: inline-block;
    background-image: url(../img/toolbars.png);
    background-repeat: no-repeat;
    border-radius: 3px 0 0 3px; }
  .toolbar__h .tab-text {
    width: 50px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px; }

.toolbar__tab {
  position: relative;
  width: 35px;
  height: 35px;
  margin-bottom: 1px;
  cursor: pointer;
  border-radius: 3px 0 0 3px; }

.toolbar__backtotop {
  position: absolute;
  bottom: -1px;
  width: 100%;
  left: -29px; }
  .toolbar__backtotop .tab-ico {
    background-position: -50px -250px; }

.toolbar__cart {
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top: -18px; }
  .toolbar__cart .tab-ico {
    background-position: -50px 0; }
  .toolbar__cart .tab-sub {
    position: absolute;
    z-index: 3;
    right: 2px;
    top: -5px;
    height: 11px;
    padding: 1px 2px;
    border: 1px solid #b61d1d;
    overflow: hidden;
    color: #fff;
    font: 11px/11px verdana;
    text-align: center;
    min-width: 11px;
    border-radius: 10px;
    background-color: #cc6060;
    background-image: linear-gradient(180deg, #cc6060 0, #b61d1d); }

.toolbar__tab--hover .tab-ico, .toolbar__tab--hover .tab-text {
  background-color: #c81623; }

.toolbar__tab--hover .tab-sub {
  color: #c81623;
  background-color: #fff;
  background-image: linear-gradient(180deg, #fff 0, #fff);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3); }

.toolbar__cart__pro {
  position: absolute;
  left: 6px;
  top: 0;
  width: 270px;
  height: 100%;
  z-index: 2;
  background: #eceaea; }
  .toolbar__cart__pro .cart__header {
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px; }
    .toolbar__cart__pro .cart__header .title {
      display: inline-block;
      height: 40px;
      color: #5e5050;
      font-size: 16px;
      font-weight: normal; }
    .toolbar__cart__pro .cart__header i {
      display: inline-block;
      width: 20px;
      height: 18px;
      background-image: url(../img/toolbars.png);
      background-position: 0 0;
      margin-top: 11px; }
    .toolbar__cart__pro .cart__header em {
      display: inline-block;
      vertical-align: top; }
    .toolbar__cart__pro .cart__header .close {
      width: 12px;
      height: 12px;
      background-image: url(../img/toolbars.png);
      background-position: 0 -250px;
      position: absolute;
      right: 8px;
      top: 16px;
      cursor: pointer; }
  .toolbar__cart__pro .cart__footer {
    height: 50px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 260px;
    background: #eceaea; }
    .toolbar__cart__pro .cart__footer .cart__count {
      width: 155px; }
      .toolbar__cart__pro .cart__footer .cart__count strong {
        color: #e33333; }

#goCart {
  display: inline-block;
  height: 29px;
  padding: 0 10px;
  background: #E4393C;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 29px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }

.toolbar__cart__list a:hover {
  color: #e33333; }

.toolbar__cart__list .item {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 10px; }

.toolbar__cart__list .p-img {
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  padding: 0;
  margin-right: 5px; }
  .toolbar__cart__list .p-img img {
    width: 50px;
    height: 50px; }

.toolbar__cart__list .p-name {
  overflow: hidden; }
  .toolbar__cart__list .p-name a {
    display: inline-block;
    height: 30px;
    line-height: 16px;
    margin-bottom: 4px;
    width: 200px; }

.toolbar__cart__list .p-price {
  height: 16px;
  color: #666; }

.toolbar__cart__list .delete {
  float: right; }

.toolbar__cart__list .p-detail {
  width: 200px;
  float: none; }

#settleup-content {
  position: relative;
  z-index: 2;
  width: 100%;
  background: #fff; }
  #settleup-content .smt {
    height: 25px;
    padding: 6px 8px;
    line-height: 25px; }
  #settleup-content .smc {
    background: #fff;
    height: auto;
    overflow-y: auto; }
  #settleup-content .item {
    padding: 8px 10px;
    border-top: 1px dotted #ccc;
    overflow: hidden;
    line-height: 17px;
    vertical-align: bottom; }
    #settleup-content .item:hover {
      background: #F5F5F5; }
    #settleup-content .item a:hover {
      color: #e33333; }
  #settleup-content .p-img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    padding: 0;
    margin-right: 10px;
    font-size: 0; }
    #settleup-content .p-img img {
      width: 50px;
      height: 50px; }
  #settleup-content .p-name {
    width: 120px;
    height: 52px;
    overflow: hidden; }
    #settleup-content .p-name a {
      height: 52px;
      display: inline-block; }
  #settleup-content .p-detail {
    text-align: right; }
  #settleup-content .delete {
    display: block; }
  #settleup-content .smb {
    padding: 8px;
    background: #F5F5F5;
    overflow: hidden; }
    #settleup-content .smb .p-total {
      line-height: 29px; }
    #settleup-content .smb a {
      display: inline-block;
      height: 29px;
      padding: 0 10px;
      background: #E4393C;
      color: #fff;
      text-align: center;
      font-weight: 700;
      line-height: 29px;
      -webkit-border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px; }

.login__center {
  width: 990px;
  margin: 0 auto;
  overflow: hidden; }

#logo {
  position: relative;
  width: 300px;
  margin: 10px 0;
  height: 60px;
  float: left; }
  #logo b {
    display: block;
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/css/i/l-icon.png) no-repeat; }

.q__link {
  position: relative;
  color: #999;
  float: right;
  top: 52px; }
  .q__link b {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: 0 5px;
    background: url(//misc.360buyimg.com/user/passport/1.0.0/css/i/q-icon.png) no-repeat;
    overflow: hidden;
    vertical-align: middle; }

.cont__tip {
  background: #fff8f0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .cont__tip .icon__tips {
    background: url(//misc.360buyimg.com/user/passport/1.0.0/widget/login-form-2018-0827/i/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px; }
  .cont__tip p {
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block; }
  .cont__tip .black:hover {
    text-decoration: underline; }

.login__banner {
  width: 100%;
  height: 475px;
  background-color: #132af2;
  margin-bottom: 20px; }

.login__bg {
  background: url(//img30.360buyimg.com/da/jfs/t1/29513/35/180/96913/5c079b87E504a76d2/718555f8c9ebcf17.jpg) 0px 0px no-repeat;
  background-color: #132af2;
  height: 475px; }

.login__form {
  position: relative;
  z-index: 4;
  background: #fff;
  overflow: visible;
  width: 346px;
  height: 400px;
  margin-top: 10px; }
  .login__form h2 {
    font-weight: 700;
    color: #e4393c;
    font-size: 18px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-bottom: 1px solid #f4f4f4; }
  .login__form .form__group {
    border: 1px solid #bdbdbd;
    height: 38px;
    width: 304px;
    position: relative;
    margin: 0 auto 20px; }
  .login__form .user, .login__form .psw {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(../img/form.png) no-repeat; }
  .login__form .psw {
    background-position: -48px 0; }
  .login__form .form__inp {
    width: 304px;
    height: 38px;
    padding: 10px 0 10px 50px;
    border: none; }
  .login__form .item-error {
    border: 1px solid #e4393c; }
    .login__form .item-error .user, .login__form .item-error .psw {
      border-right-color: #e4393c; }

.msg-wrap {
  min-height: 23px;
  width: 306px;
  margin: 5px 20px; }
  .msg-wrap .msg-error {
    position: relative;
    background: #ffebeb;
    color: #e4393c;
    border: 1px solid #faccc6;
    padding: 3px 10px 3px 40px;
    line-height: 15px;
    height: auto; }
    .msg-wrap .msg-error b {
      position: absolute;
      top: 50%;
      left: 10px;
      display: block;
      margin-top: -8px;
      width: 16px;
      height: 16px;
      overflow: hidden;
      background: url(../img/form.png) -104px -49px no-repeat; }

.submut__btn {
  text-align: center;
  margin-top: 50px; }

.form__submit {
  background: #e4393c;
  color: #fff;
  width: 306px;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  height: 40px;
  line-height: 40px; }

.login__footer {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 50px;
  border-top: 1px solid #f4f4f4;
  height: auto;
  background-color: #fcfcfc;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 306px; }
  .login__footer a {
    color: #b61d1d; }
    .login__footer a:hover {
      text-decoration: underline; }
  .login__footer b {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../img/form.png) -104px -75px no-repeat;
    vertical-align: middle;
    margin-right: 5px; }

#footer-2013 {
  padding-bottom: 30px;
  text-align: center; }
  #footer-2013 .links a, #footer-2013 .links span {
    margin: 0 10px; }
  #footer-2013 .copyright {
    margin: 10px 0; }
