// 定义变量
$primary-color: #f10215; //主颜色
$minor-color: #666; //小颜色
$assist-color: #40a9ff; //协助颜色
$disabled-bg: #FAFAFA;
$active-color: #096dd9;

$text-primary: #333333; //
$text-hover: #e33333; //
$text-disabled: #727272;
$text-minor: #999; //
$text-ing: #01ED07;
$text-done: #F30606;
$text-wait: #999999;
$text-sub: #666666;//

$border-color: #D9D9D9;
$border-E1: #E1E1E1;

$border-radius: 4px;
$defalt-fontSize: 14px;

$btn-default-width: 100px;
$btn-default-height: 40px;
$btn-small-width: 65px;
$btn-small-height: 32px;
$btn-large-width: 120px;
$btn-large-height: 48px;

$font-size-default: 14px;
$font-size-middle: 16px;

$left-aside-bg: #343030;
$primary-bg: #f3f3f3;


